<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <div style="width: 175px; height: 250px;">
        <h2>Регистрация</h2>

        <p>ФИО:</p>
        <input style="margin-bottom: 10px" placeholder="Фамилия"></input>
        <input style="margin-bottom: 10px" placeholder="Имя"></input>
        <input placeholder="Отчество"></input>

        <p>Почта:</p>
        <input placeholder="Email"></input>

        <p>Пол:</p>
        <input type="radio" name="pol">Муж</input>
        <input type="radio" name="pol">Жен</input>

        <button style="margin-top: 15px; width: 175px">Отправить</button>

    </div>
</body>
</html>